<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Registrarse</h2>
        <br>
        <form name="sign-up" (ngSubmit)="f.form.valid && signUp()" #registro="ngForm">
            <div class="form-group">
                <label for="role"><b>Rol</b></label>
                <select class="custom-select" name="role" id="role" [(ngModel)]="rol" required name="rol"
                    #rol="ngModel">
                    <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                </select>
                <div [hidden]="rol.valid || rol.pristine" class="alert alert-danger">
                    Seleccionar el rol es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="username"><b>Nombre</b></label>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="nombre" required
                    name="nombre" #nombre="ngModel">
                <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                    Ingregar un nombre es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="login"><b>Correo</b></label>
                <input type="email" name="login" class="form-control" id="login" [(ngModel)]="login" required
                    name="login" #login="ngModel">
                <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
                    Ingregar un correo es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="tel"><b>Telefono</b></label>
                <input type="number" name="tel" min="3000000000" max="4000000000" class="form-control" id="tel"
                    [(ngModel)]="telefono" name="telefono" #telefono="ngModel">
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password"
                    required name="password" #password="ngModel">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    Ingregar una contraseña es obligatorio
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary" (click)="registro.reset()" [disabled]="!registro.form.valid"> Registrarse </button>
            </div>
        </form>
    </div>
</div>