<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Author:  Andrea Bayona -->
<html>
<head>
    <meta charset="utf-8">
 </head>
<body>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/Images/Image1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>&iexcl;Monta tus sue&ntilde;os!</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/Images/Image2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Te ayudamos a llegar m&aacute;s lejos</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/Images/Image3.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Viaja c&oacute;modo. Viaja con estilo</h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>

    <div class="spacer">
        <h1>Nuestras promociones</h1>


    </div>
    <app-home-bicicletas-promocion></app-home-bicicletas-promocion>

</body>

</html>
