<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
          <br>
          <h2 class="text-center">Crear Cuenta Comprador</h2>
          <br>
          <form name="comprador" (ngSubmit)="f.form.valid && createComprador()" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="compradorName"><b>Nombre </b></label>
                  <div class="invalid-feedback">
                      <div>Es necesario colocar un nombre.</div>
                  </div>
                  <input type="text" nombre="compradorNombre" class="form-control" id="compradorNombre"
                      [(ngModel)]="comprador.nombre" #compradorNombre="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && compradorNombre.invalid }" required>
              </div>
              <div class="form-group">
                  <label for="compradorApellido"><b>Login </b></label>
                  <div class="invalid-feedback">
                      <div>Es necesario colocar un login.</div>
                  </div>
                  <input type="text" login="compradorLogin" class="form-control" id="compradorLogin"
                      [(ngModel)]="comprador.login" #compradorLogin="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && compradorLogin.invalid }" required>
              </div>
              <div class="form-group">
                  <label for="compradorPassword"><b>Contraseña </b></label>
                  <div class="invalid-feedback">
                      <div>Es necesario colocar una contraseña.</div>
                  </div>
                  <input type="text" password="compradorPassword" class="form-control" id="compradorPassword"
                      [(ngModel)]="compradorPassword.password" #compradorPassword="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && compradorPassword.invalid }" required>
              </div>
             <div class="row form-inline justify-content-center align-self-center">
                  <button type="submit" class="btn btn-primary">Create</button>
                  <div class="divider"></div>
                  <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
              </div>
          </form>
      </div>
      <div class="col-3"></div>
  </div>