h1 {
    padding-left: 10px;
    padding-top: 10px;
  }
  
  hr {
    margin-left: 15px;
    margin-right: 15px;
    border:0;
    border-bottom:2px solid #F2F2F2;
  }

  #separador-titulo {
    margin-left: 15px;
    margin-right: 15px;
    border:0;
    border-bottom:2px solid #BFBFBF;
  }
  
  .card {
    margin-left: 25px;
    margin-right: 25px;
    background: #F2F2F2;
    border: none;
  }
  
  .lista-categorias {
    overflow: scroll;
    height: 75vh;
    overflow-x: hidden;
  }
  
  .material-icons.md-2 {
    font-size: 2rem;
    color: dodgerblue;
  }
  
  #agregarCategoriaDiv {
    align-self: center;
  }
  
  #tarjeta:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }