<div class="container-fluid">
    <br>
    <div class="col-4"></div>
    <div class="col">
        <div class="card border-info mb-3" style="max-width: 30rem; align-self: center;">
            <h3 class="card-header">Orden: {{ordenDetail.fecha}}</h3>
            <div class="card-body text-dark">
                <h5 class="card-title">Detalles de la orden</h5>
                <h6 class="card-text">-Cantidad: {{ordenDetail.cantidad}}
                    <br>
                    -Costo: {{ordenDetail.costo}}
                </h6>
            </div>
        </div>
    </div>
</div>