<!-- <div class= "container-fluid">
        <div class="col-md-2">
            <table class = "table table-striped">
                <thead class= "thead-dark">
                    <tr>
                        <th>Lista ordenes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of ordenes">
                        <td style= "cursor: pointer;">
                            <a class = "figure-caption" routerLink="/ordenes/{{o.id}}"
                            >{{o.name}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div> -->