<div class="container">
  <h2>Ventas asociadas</h2>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let venta of ventas">
      <div class="card h-100">
        <a href="">
          <!-- routerLink="/ventas/{{venta.id}}" -->
          <img class="card-img-top" src="{{venta.fotos[0]}}" alt="Bicicleta">
        </a>
        <div class="card-body">
          <h4 class="card-title">Venta: {{venta.id}}</h4>
          <h4 class="card-title">$ {{venta.precio}}</h4>
        </div>
        <div class="card-footer">
          <button *ngIf="venta.aprobado" class="btn btn-success">Aprobado</button>
          <button  *ngIf="venta.aprobado === undefined || venta.aprobado === null" class="btn btn-warning">Pendiente</button >
          <button  *ngIf="venta.aprobado === false" class="btn btn-danger">Rechazado</button >
        </div>
      </div>
    </div>
  </div>
</div>