<div class= "container-fluid">
    <div class="col-md-2">
        <table class = "table table-striped">
            <thead class= "thead-dark">
                <tr>
                    <th>Lista marcas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of marcas">
                    <td style= "cursor: pointer;">
                        <a class = "figure-caption" routerLink="/marcas/{{m.id}}"
                        >{{m.name}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <div *ngIf="showView">
            <app-author-detail [authorDetail]="selectedAuthor"></app-author-detail>
        </div>
        <div *ngIf="showCreate">
            <app-author-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-author-create>
        </div>
    </div>
</div>