<div class= "container-fluid">
    <div class="col-md-2">
        <table class = "table table-striped">
            <thead class= "thead-dark">
                <tr>
                    <th>Lista marcas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of marcas">
                    <td style= "cursor: pointer;">
                        <a class = "figure-caption" routerLink="/marcas/{{m.id}}"
                        >{{m.name}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>