/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2019, 11:19:30 PM
    Author     : Andrea
*/
.title-caption{
    color: rgba(0, 47, 255, 0.664);
}
.author-caption{
    color: grey;
}
