<div id="collapseReview" [ngbCollapse]="isCollapsed">
    <div class="spacer">
        <form name="post" (ngSubmit)="reviewForm.form.valid && postResena(reviewForm)" #reviewForm="ngForm" novalidate>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Editar reseña con id </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>

                            <div class="form-group">
                                <label for="inputReferencia4">Titulo</label>
                                <input type="text" name="reviewTitle" class="form-control" placeholder="Referencia" id="reviewTitle" [(ngModel)]="resena.titulo"
                                       #reviewTitle="ngModel" [ngClass]="{ 'is-invalid': reviewForm.submitted && reviewTitle.invalid }" required>
                                <div class="invalid-feedback">
                                    <div>The review's title is missing</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputState">Calificacion</label>
                                <select id="inputC"
                                        class="custom-select" name="resenaCali" [(ngModel)]="resena.calificacion"
                                        #resenaCali="ngModel" [ngClass]="{ 'is-invalid': reviewForm.submitted && resenaCali.invalid }"
                                        required>

                                    <option selected>Selecione una calificacion</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="form-row">
                                <label for="exampleFormControlTextarea3">Descripción</label>
                                <textarea name="rDescription" class="form-control" id="rDescription" rows="7" [(ngModel)]="resena.descripcion"
                                          #rDescription="ngModel" [ngClass]="{ 'is-invalid': reviewForm.submitted && rDescription.invalid }"
                                          required></textarea>
                                <div class="invalid-feedback">
                                    <div>Ingresa la descripcion de la bicicleta</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-row col-md-6">
                                <div class="form-group" style="margin-right: 10px">
                                    <button class="btn btn-success" type="submit">Crear</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-danger">Cancelar</button>
                                </div>
                            </div>
                        </th>
                        <th>

                        </th>

                    </tr>


                </tbody>
            </table>

        </form>
    </div>
</div>
