<button type="button" class="btn btn-link editar" data-toggle="modal" (click)="toggle()"><strong>Editar </strong>{{resena_id}}</button>

<div class="modal fade" id ="{{resena_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Editar rese&ntilde;a</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="post" (ngSubmit)="reviewForm.form.valid && updateResena(reviewForm)" #reviewForm="ngForm" novalidate>

                <div class="modal-body">
                    <!-- contenido resena -->
                    <div class="form-group">
                        <label for="inputReferencia4">T&iacute;tulo</label>
                        <input type="text" name="reviewTitle" class="form-control" placeholder="Referencia" id="reviewTitle" [(ngModel)]="resena.titulo"
                               #reviewTitle="ngModel" [ngClass]="{ 'is-invalid': reviewForm.submitted && reviewTitle.invalid }" required>
                        <div class="invalid-feedback">
                            <div>The review's title is missing</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputState">Calificaci&oacute;n</label>
                        <select id="inputC"
                                class="custom-select" name="resenaCali" [(ngModel)]="resena.calificacion"
                                #resenaCali="ngModel" [ngClass]="{ 'is-invalid': reviewForm.submitted && resenaCali.invalid }"
                                required>

                            <option selected>Selecione una calificaci&oacute;n</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea3">Descripci&oacute;n</label>
                        <textarea name="rDescription" class="form-control" id="rDescription" rows="7" [(ngModel)]="resena.descripcion"
                                  #rDescription="ngModel" [ngClass]="{ 'is-invalid': reviewForm.submitted && rDescription.invalid }"
                                  required></textarea>
                        <div class="invalid-feedback">
                            <div>Ingresa la descripcion de la bicicleta</div>
                        </div>
                    </div>

                    <!-- contenido resena -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Guardar cambios</button>
                </div>

            </form>

        </div>
    </div>
</div>
