.spacer {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
}
button.editar {
    color: #009fff;
    font-size: 12px;
    font-style: normal;
}