<div class="container-fluid">
  <h1>Medios de Pago</h1>
  <hr id="separador-titulo">
  <ul class="list-group list-group-flush" style="margin-left: 20px; margin-right: 20px">
    <li class="list-group-item" *ngFor="let mp of mediosPago">
      <div class="row">
        <div class="col-7">
          <div class="row">
            <img src="{{mp.imagen}}">
            <p class="h6" style="margin-left: 10px;" id="numeroTarjeta">&middot;&middot;&middot;&middot; &middot;&middot;&middot;&middot; &middot;&middot;&middot;&middot; {{mp.numeroCodificado}}</p>
          </div>
        </div>
        <div class="col-5 text-right">
          <a id="blue-link" (click)="mostrarInfoMediopago(mp.numeroTarjeta)">Ver información</a><br>
          <mediopago-edit [mediopago]="medioPago" (mostrarModal)="mostrarModalEdit(mp.numeroTarjeta)" (update)="recibirEventoEdit()"></mediopago-edit><br>
          <a href="#" style="color: #F00">Eliminar medio de pago</a>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="mostrarInfo">
    <mediopago-detail [mediopago]="medioPago"></mediopago-detail>
  </div>
</div>