<div id="collapseReview" [ngbCollapse]="isCollapsed">
    <div class="spacer">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Comentarios</th>
                    <th scope="col"></th>
                    <th scope="col">
                    Editar
                    
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of bicicletaResenas">
                    <th>Titulo {{r.titulo}}</th>
                    <th>
                        <p class="font-weight-normal">Color sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque {{r.descripcion}}</p>
</th>
                    <th>
                        <p>Usuario {{r.usuario}}</p>
                        <p>Calificacion {{r.calificacion}}</p>
                    </th>

                </tr>


            </tbody>
        </table>
    </div>
</div>
