<div id="collapseReview" [ngbCollapse]="isCollapsed">
    <div class="spacer">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Comentarios</th>
                    <th scope="col"></th>
                    <th scope="col">
                    Editar
                    
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of bicicletaResenas">
                    <th>
					<p>{{r.titulo}}</p>
					</th>

                    <th>
                   <p class="font-weight-normal">{{r.descripcion}}</p>
                   </th>
				   
				   <th>
                        <p>Nombre Usuario</p>
                        <p>{{r.calificacion}}</p>
                    </th>

                </tr>


            </tbody>
        </table>
    </div>
</div>
