<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="collapseReview" [ngbCollapse]="isCollapsed">
        <div class="spacer">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Comentarios</th>
                        <th scope="col"></th>
                        <th scope="col">


                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let r of bicicletaResenas; let i = index">
                        <th>
                            <p>{{r.titulo}}   {{r.id}}</p>
                          
                            <app-bicicleta-edit-resena [(resena_id)]="bicicletaResenas[i].id" [(bicicleta_id)]="bicicletaResenas[i].bicicleta.id"></app-bicicleta-edit-resena>
                          
                            <app-bicicleta-delete-resena [(resena_id)]="bicicletaResenas[i].id" [(bicicleta_id)]="bicicletaResenas[i].bicicleta.id"></app-bicicleta-delete-resena>


                        </th>

                        <th>
                            <p class="font-weight-normal">{{r.descripcion}}</p>
                        </th>

                        <th>
                            <p>Nombre Usuario</p>

                            <span class="fa fa-star {{(r.calificacion >= 1) ? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{(r.calificacion >= 2) ? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{(r.calificacion >= 3) ? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{(r.calificacion >= 4) ? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{(r.calificacion >= 5) ? 'checked' : ''}}"></span>

                        </th>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>

  
</body>

</html>