<div class="wrapper">
  <div class="inner">
    <form>
      <h3>Subir nueva bicicleta</h3>
      <div class="form-row">
        <div class="form-group col-md-8">
          <div class="spacer">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li *ngFor="let img of lbum,let i = index" data-target="#carouselExampleIndicators"
                  class="{{ (i == 0) ? 'active' : '' }}" attr.data-slide-to="{{i}}"></li>
              </ol>
              <div class="carousel-inner">
                <div *ngFor="let img of album,let i = index"
                  class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                  <img class="d-block w-100" src="{{album[i]}}" alt="slide {{i}}">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
              </a>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Subir Foto</label>
          <select id="inputIMG" class="form-control">
            <option selected>Adjuntar</option>
            <option>Eliminar</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <label for="validatedCustomFile">Adjuntar factura</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Escoger archivo</label>
          <div class="invalid-feedback">Archivo erroneo</div>
        </div>
      </div>
      <div class="form-row">
        <label for="exampleFormControlTextarea3">Precio</label>
        <input class="form-control" id="inputPrecio" placeholder="Precio">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button class="btn btn-success" type="submit">Subir</button>
        </div>
        <div class="form-group col-md-6">
          <button class="btn btn-danger" type="submit">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>