

<div class="wrapper">
    <div class="inner">
        <form>
            <h3>Actualizar bicicleta con id {{bicicleta_id}}</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputReferencia4">Referencia</label>
                    <input class="form-control" id="inputReferencia4" placeholder="Referencia">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPrecio4">Precio</label>
                    <input class="form-control" id="inputPassword4" placeholder="Precio">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Marca</label>
                    <select id="inputMarca" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Categoría</label>
                    <select id="inputCategoria" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStock4">Stock</label>
                    <input type="email" class="form-control" id="inputStock4" placeholder="Stock">
                </div>
                <div class="form-group col-md-6">
                    <label for="validatedCustomFile">Fotos</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label for="exampleFormControlTextarea3">Descripción</label>
                <textarea class="form-control" id="inputDescripcion3" rows="7"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button class="btn btn-success" type="submit">Actualizar</button>
                </div>
                <div class="form-group col-md-6">
                    <button class="btn btn-danger" type="submit">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

</div>

