
<div class="wrapper">
    <div class="inner">
        <form name="bicicleta" (ngSubmit)="f.form.valid && updateBicicleta()" #f="ngForm" novalidate>
            <h3>Modificar bicicleta con id {{bicicleta.id}}</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputReferencia4">Referencia</label>
                    <input class="form-control" id="inputReferencia4" placeholder="{{bicicleta.referencia}}"
                           type="text" name="bikekRef" [(ngModel)]="bicicleta.referencia"
                           #bikekRef="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bikekRef.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Debe ingresar una referencia</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPrecio4">Precio</label>
                    <input class="form-control" id="inputPrecio4" placeholder="{{bicicleta.precio}}"
                           type="text" name="bikekPrecio" [(ngModel)]="bicicleta.precio"
                           #bikekPrecio="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bikekPrecio.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Debe ingresar un precio</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Marca</label>
                    <select id="inputMarca"
                            class="custom-select" name="bicicletaMarca" [(ngModel)]="bicicleta.marca.id"
                            #bicicletaMarca="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bicicletaMarca.invalid }"
                            required>
                        <option selected>Seleccione una marca...</option>
                        <option [value]="marca.id" *ngFor="let marca of marcas">{{marca.nombre}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>Debe seleccionar una marca para la bicicleta</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Categor&iacute;a</label>
                    <select id="inputCategoria"
                            class="custom-select" name="bicicletaCategoria" [(ngModel)]="bicicleta.categoria.nombre"
                            #bicicletaCategoria="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bicicletaCategoria.invalid }"
                            required>
                        <option selected>Seleccione una categoria...</option>
                        <option [value]="categoria.nombre" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>Debe seleccionar una categoria para la bicicleta</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStock4">Stock</label>
                    <input class="form-control" id="inputStock4" placeholder="Stock"
                           type="text" name="bikekStock" [(ngModel)]="bicicleta.stock"
                           #bikekStock="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bikekStock.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Debe ingresar una valor para el stock</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPrecio4">Foto</label>
                    <input class="form-control" id="inputFoto4" placeholder="{{bicicleta.album[0]}}"
                           type="text" name="bikekFoto" [(ngModel)]="rutaFoto"
                           #bikekFoto="ngModel">
                </div>
                <div class="form-group col-md-2">
                    <span style="float:right; font-size: 10pt; color: green;"> &nbsp; # fotos: {{bicicleta.album.length }}</span>
                    <button class="album btn btn-secondary" type="button" (click)="anadirFoto(rutaFoto)" onclick="document.getElementById('inputFoto4').value = ''">Confirmar</button>
                </div>

            </div>

            <div class="form-row">
                <label for="exampleFormControlTextarea3">Descripci&oacute;n</label>
                <textarea name="bicicletaDescription" class="form-control" id="bicicletaDescription" [(ngModel)]="bicicleta.descripcion"
                          #bicicletaDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bicicletaDescription.invalid }"
                          required></textarea>
                <div class="invalid-feedback">
                    <div>Ingresa la descripcion de la bicicleta</div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button class="btn btn-success" type="submit">Actualizar</button>
                </div>
                <div class="form-group col-md-6">
                    <button class="btn btn-danger" type="button" (click)="cancelEdition()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

</div>

