<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="login"><b>Nombre</b></label>
          <input type="text" name="nombre" class="form-control" value="{{comprador.nombre}}" readonly>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="login"><b>Correo</b></label>
            <input type="email" name="login" class="form-control" value="{{comprador.login}}" readonly>
          </div>
         
        </div>
      </form>

      <br>
      <h3>Ordenes Asociadas:</h3>
  
      <app-comprador-orden [id]="comprador.id"></app-comprador-orden>
</div>